body{
    background-image: url("../images/lava.png");
    background-size: cover;
}
.container{
    margin: auto;
    position: relative;
    width: 300px;
    height:490px;
    border: rgba(255, 255, 255, 0.658) 1px ;
    border-radius: 15px;
    top:50%;
    justify-self: center;
    background-color: #738cdc79;
    background-image: linear-gradient(315deg, #738cdc8c 0%, #48c2eb85 74%);
    align-content: center;
    backdrop-filter: blur(5px);

}
form{
    align-content: center;
    margin-top: 8em;
    margin-left: 50px;
    position: inherit;
}
input{
    color: black;
	padding-left: 5px;
	margin: 10px;
	margin-top: 3px;
	margin-left: 0px;
	width: 200px;
	height: 28px;
	border: 1px solid #c7d0d2a2;
	background-color:#c7d0d2a2 ;
	border-radius: 5px;
	justify-self: left;
}

.title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    
}
label{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: rgb(45, 42, 214);
}
button{
    border: 0px;
    width: 21%;
    padding:2%;
    border-radius: 14px;
    background-color: #ffffff;
    margin-left: 70px;
}
P{
    font-family: Arial, Helvetica, sans-serif;
}